.action {
  &-network-message {
    color: red;
    background-color: #ff00002e;
  }
  &-container {
    padding: 0.6rem;
  }
  &-element {
    padding: 0.3rem 0rem 1.6rem 0.1rem;
    width: 100%;
  }
  &-button {
    display: block;
    margin-left: auto;
    &-icon {
      padding-left: 0.5rem;
      font-size: 1.4rem;
    }
  }
}
