<mat-toolbar color="primary">
  <span class="action">Report a default</span>
</mat-toolbar>

<p *ngIf="offlineMode" class="action-network-message">
  WARNING : {{ offlineMessage }}
</p>

<div class="action-container">
  <form [formGroup]="actionForm">
    <mat-form-field class="action-element">
      <mat-label>Type of default *</mat-label>
      <mat-select
        formControlName="defaultType"
        placeholder="Choose type of default"
      >
        <mat-option
          *ngFor="let typeDefault of typeDefaults"
          value="{{ typeDefault }}"
          >{{ typeDefault }}</mat-option
        >
      </mat-select>
      <mat-error>{{ errorDefaultTypeMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="action-element">
      <mat-label>Operator name *</mat-label>
      <input
        matInput
        formControlName="operatorName"
        placeholder="Enter the name"
      />
      <mat-error>{{ errorOperatorNameMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="action-element">
      <mat-label>Remarks</mat-label>
      <textarea
        matInput
        formControlName="remarks"
        placeholder="Enter the remarks"
      ></textarea>
    </mat-form-field>

    <div>
      <button
        mat-raised-button
        class="action-button"
        color="primary"
        [disabled]="buttonState"
        (click)="sendReportDefault()"
      >
        Send report<mat-icon class="action-button-icon" aria-label="Send icon"
          >send</mat-icon
        >
      </button>
    </div>
  </form>
  <div *ngIf="lastReportView">
    <app-report-card [lastReportInfo]="lastReportInfo"></app-report-card>
  </div>
</div>
