.action {
  &-container {
    padding: 10px;
  }
  &-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  &-button {
    position: relative;
    float: right;
    &-icon {
      padding-left: 9px;
      font-size: 23px;
    }
  }
}
